@import 'nullstyle.scss';
@import 'slick.scss';
%flex-container-sb {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

%flex-container-c {
    display: flex;
    justify-content: center;
    align-items: center;
}

%button {
    button {
        width: 160px;
        height: 55px;
        background-color: #fff;
        box-shadow: 0 5px 5px rgba(0, 0, 0, 0.15);
        border-radius: 5px;
        a {
            color: #061e37;
            text-transform: uppercase;
            font-family: Roboto;
        }
        &:hover {
            background-color: #061e37;
            a {
                color: #fff;
            }
        }
    }
}

@mixin icon($w, $h, $f) {
    width: $w;
    height: $h;
    fill: $f;
}

body {
    font-size: 15px;
    font-family: 'Raleway', sans-serif;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
}

.header {
    background-image: url(../img/header_fill_img.png);
    background-size: cover;
    background-repeat: no-repeat;
    &-blur {
        background-color: #061e37;
        background-image: linear-gradient(-53deg, #00b8d4 0%, #1de9b6 100%);
        opacity: 0.9;
    }
    .nav {
        padding-bottom: 165px;
        .container {
            @extend %flex-container-sb;
            padding-top: 50px;
        }
        .logo {
            display: flex;
            justify-content: space-between;
            color: #fff;
            &__img {
                width: 30px;
                height: 30px;
                margin-right: 10px;
            }
            &__title {
                text-transform: uppercase;
            }
        }
        .header__links {
            a {
                padding: 0 25px;
                color: #fff;
                line-height: 25px;
            }
        }
        .signup-btn {
            font-size: 12px;
            padding: 6px 20px;
            color: #fff;
            border: 1px solid #fff;
        }
    }
    .intro {
        padding-bottom: 185px;
        .container {
            @extend %flex-container-sb;
        }
        &__content {
            max-width: 580px;
            h1 {
                max-width: 480px;
                font-size: 55px;
                font-weight: 800;
                text-transform: uppercase;
                line-height: 65px;
                color: #fff;
                padding-bottom: 28px;
            }
            p {
                font-size: 18px;
                line-height: 35px;
                color: #fff;
                padding-bottom: 38px;
            }
            .intro__buttons {
                display: flex;
                @extend %button;
                button {
                    &:first-child {
                        margin-right: 30px;
                    }
                }
            }
        }
        &__video {
            width: 600px;
            height: 320px;
            background-image: url(../img/video-img.png);
            background-size: 100%;
            background-repeat: no-repeat;
            background-color: #ffffff;
            border: 1px solid #061e37;
            @extend %flex-container-c;
            .video-blur {
                width: 100%;
                height: 100%;
                background: rgba(255, 255, 255, 0.9);
                @extend %flex-container-c;
            }
            &-content {
                display: flex;
                flex-direction: column;
                align-items: center;
                a {
                    padding: 23px 25px;
                    background-color: #061e37;
                    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
                    border-radius: 5px;
                    .icon {
                        @include icon(10px, 12px, #fff);
                    }
                }
                h4 {
                    font-size: 12px;
                    font-weight: 700;
                    text-transform: uppercase;
                    padding-top: 22px;
                }
            }
        }
    }
}

.project-tool {
    &__content {
        display: flex;
        justify-content: space-between;
        padding: 97px 0 78px;
    }
    &__element {
        max-width: 345px;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        .icon {
            @include icon(68px, 70px, #b388ff);
            margin-bottom: 45px;
            svg {
                width: 100%;
                height: 100%;
            }
        }
        &:nth-child(2) {
            .icon {
                @include icon(58px, 80px, #80d8ff);
                margin-bottom: 40px;
            }
        }
        &:last-child {
            .icon {
                @include icon(68px, 70px, #ea80fc);
            }
        }
        h3 {
            font-size: 20px;
            color: #061e37;
            font-weight: 600;
            line-height: 25px;
            padding-bottom: 20px;
        }
        p {
            color: #78909c;
            line-height: 20px;
        }
    }
    &__button {
        display: flex;
        justify-content: center;
        padding-bottom: 100px;
        button {
            width: 150px;
            height: 55px;
            background-color: #1de9b6;
            box-shadow: 0 5px 5px rgba(0, 0, 0, 0.15);
            border-radius: 5px;
            a {
                color: #ffffff;
                font-weight: 700;
                text-transform: uppercase;
            }
        }
    }
}

.section-header {
    max-width: 555px;
    padding-top: 100px;
    margin: 0 auto;
    text-align: center;
    h1 {
        font-size: 45px;
        color: #061e37;
        font-weight: 600;
        padding-bottom: 15px;
    }
    h2 {
        font-size: 25px;
        color: #b0bec5;
        font-weight: 600;
        padding-bottom: 5px;
    }
    p {
        color: #b0bec5;
        line-height: 25px;
        padding-top: 15px;
    }
}

.stats {
    &__inner {
        display: flex;
        flex-shrink: 1;
    }
    &__item {
        width: 25%;
        &:first-child {
            background-color: #80d8ff;
        }
        &:nth-child(2) {
            background-color: #82b1ff;
        }
        &:nth-child(3) {
            background-color: #b388ff;
        }
        &:last-child {
            background-color: #ea80fc;
        }
        &-inner {
            max-width: 210px;
            margin: 0 auto;
            display: flex;
            align-items: center;
            padding: 45px 0;
            h3 {
                font-size: 20px;
                font-weight: 800;
                line-height: 25px;
                color: #ffffff;
            }
        }
        .icon {
            @include icon(20px, 20px, #b388ff);
            svg {
                width: 100%;
                height: 100%;
            }
            &-wrap {
                width: 60px;
                height: 60px;
                background-color: #fff;
                border-radius: 50%;
                display: flex;
                justify-content: center;
                align-items: center;
                margin-right: 23px;
            }
        }
    }
}

.services {
    .section-header {
        padding-bottom: 48px;
    }
    &__item {
        width: 800px;
        margin: 0 auto;
        padding-bottom: 20px;
        &-outer {
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.13);
            border-radius: 5px;
            padding: 20px;
            &.active {
                padding: 25px;
                .services__item-inner {
                    display: flex;
                }
            }
        }
        &-header {
            display: flex;
            justify-content: space-between;
            div {
                display: flex;
                align-items: center;
                img {
                    width: 18px;
                    height: 11px;
                    margin-right: 25px;
                }
                svg {
                    width: 18px;
                    height: 14px;
                    margin-right: 25px;
                }
                h4 {
                    color: #061e37;
                    font-weight: 700;
                    text-transform: uppercase;
                }
            }
        }
        &-inner {
            display: none;
            // display: flex;
            justify-content: space-between;
            padding-top: 25px;
            &-content {
                width: 470px;
                p {
                    color: #061e37;
                    line-height: 25px;
                    letter-spacing: 0.45px;
                }
            }
        }
    }
    &-btn {
        svg {
            width: 11px;
            height: 6px;
            transform: rotate(90deg);
        }
    }
}

.reviews {
    background: url('../img/reviews-bg.png');
    background-size: cover;
    background-repeat: no-repeat;
    &__wrap {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &-blur {
        background-color: #061e37;
        background-image: linear-gradient(-53deg, #00b8d4 0%, #1de9b6 100%);
        opacity: 0.9;
    }
    &-lcolumn {
        width: 515px;
        h2 {
            font-size: 45px;
            font-weight: 600;
            color: #ffffff;
            padding: 47px 0 20px;
        }
        p {
            font-weight: 600;
            color: #fff;
            line-height: 25px;
            padding-bottom: 80px;
        }
        @extend %button;
        button {
            margin-bottom: 55px;
        }
    }
    &-rcolumn {
        width: 760px;
    }
    &__item {
        display: flex;
        justify-content: space-between;
        align-items: center;
        & img {
            width: 60px;
            height: 60px;
            border-radius: 50%;
        }
    }
    &__content {
        width: 650px;
        background-color: #fff;
        opacity: 1;
        padding: 32px 65px 30px 30px;
        &-inner {
            max-width: 555px;
        }
        &-author {
            font-size: 18px;
            font-weight: 700;
            color: #061e37;
            line-height: 25px;
        }
        &-text {
            color: #78909c;
            line-height: 25px;
        }
    }
}